<h3> Title: <%= @character.name %> </h3>

<p> Description: <%= @character.short_description %> </p>

<%= link_to 'Edit', edit_larp_character_path(@larp, @character) %> |
<%= link_to 'Back', larp_characters_path(@larp) %>
